@{
    ViewData["Title"] = "Home Page";
    var count = 0;
}

@model HomeViewModel;
<!--Hero start-->
<section id="hero">
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                    class="item-dot active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="item-dot"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="item-dot"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            @foreach (var item in Model.Sliders)
            {
                count++;
                <div class="carousel-item d-flex align-items-center active" style="background-image: url('/uploads/slider/@item.BgImage');">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 d-flex align-items-center">
                                <div class="text">



                                    <div class="shoppingBtn">
                                        <a href="#">Shopping now</a>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-6 d-flex justify-content-center align-items-center">
                                <div class="images">
                                    <img class="img-fluid" width="70%" height="70%" src="~/uploads/slider/@item.Image"
                                         alt="">
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            }
            @*<div class="carousel-item d-flex align-items-center active" data-order="1">
                    <div class="container">
                        <div class="row d-flex">
                            <div class="col-lg-6 d-flex align-items-center">
                                <div class="text">
                                    <div class="small-caption">
                                        <p>Exclusive Offer -20% Off This Week </p>
                                    </div>
                                    <div class="title">
                                        Smarter Wifi Thermostat
                                        <br>
                                        With Room Sensors
                                    </div>

                                    <div class="price">
                                        <span>Started at</span><span class="currency">$199.00</span>
                                    </div>

                                    <div class="shoppingBtn">
                                        <a href="#">Shopping now</a>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-6 d-flex justify-content-center align-items-center">
                                <div class="images">
                                    <img class="img-fluid" width="70%" height="70%" src="~/assets/image/slider_img_1.png"
                                         alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item d-flex align-items-center" data-order="2">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 d-flex align-items-center">
                                <div class="text">
                                    <div class="small-caption">
                                        <p>Exclusive Offer -20% Off This Week </p>
                                    </div>
                                    <div class="title">
                                        Apple Watch Edition
                                        <br>
                                        Everything you need to know!
                                    </div>

                                    <div class="price">
                                        <span>Started at</span><span class="currency">$120.99</span>
                                    </div>

                                    <div class="shoppingBtn">
                                        <a href="#">Shopping now</a>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="images">
                                    <img class="img-fluid img1" width="50%" height="30%"
                                         src="~/assets/image/slider_img_2.png" alt="">
                                    <img class="img-fluid img2" width="70%" height="70%"
                                         src="~/assets/image/slider_img_3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@

        </div>

    </div>
</section>
<!--Hero end-->
<!--Main start-->
<main>
    <!--Wrapper start-->
    <section id="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12 p-0 position-relative">
                    <img src="/assets/image/wrapper_1.jpg" alt="">
                    <div class="hover-box position-absolute"></div>
                </div>
                <div class="col-lg-6 col-md-12 p-0 position-relative">
                    <img src="/assets/image/wrapper_2.jpg" alt="">
                    <div class="hover-box position-absolute"></div>

                </div>
            </div>
        </div>
    </section>
    <!--Wrapper end-->
    <!--Products start-->
    <section id="products">
        <div class="container" style="width: 80%;">
            <div class="row">
                <div class="products-options">
                    <div class="options d-flex justify-content-center align-items-center">
                        <ul class="nav nav-pills d-flex px-2" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                        aria-selected="true">
                                    New Arrivals
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-profile" type="button" role="tab"
                                        aria-controls="pills-profile" aria-selected="false">
                                    Featured
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-contact" type="button" role="tab"
                                        aria-controls="pills-contact" aria-selected="false">
                                    Top Rate
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content mt-5" id="pills-tabContent">


                        <div class="tab-pane fade show new-arrivals active" id="pills-home" role="tabpanel"
                             aria-labelledby="pills-home-tab">
                            <partial name="_ProductTabSliderCarousel" model="Model.NewProducts" />

                        </div>
                        <div class="tab-pane fade featured" id="pills-profile" role="tabpanel"
                             aria-labelledby="pills-profile-tab">
                            @await Html.PartialAsync("_ProductTabSliderCarousel", Model.FeaturedProducts)
                        </div>
                        <div class="tab-pane fade top-rate" id="pills-contact" role="tabpanel"
                             aria-labelledby="pills-contact-tab">
                            @await Html.PartialAsync("_ProductTabSlider", Model.TopRates)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Products end-->
    <!--Home static start-->
    <section id="home-static" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text">
                        <div class="title">
                            <h3>
                                Stay Connected When You’re Away
                                <br>
                                From Your Phone
                            </h3>
                        </div>

                        <div class="desc">
                            <p>
                                Start the year off strong and explore how to track your activities,
                                <br>
                                health, and fitness with Apple Watch and iPhone.
                            </p>
                        </div>

                        <div class="price">
                            <span>$128.00</span>
                        </div>

                        <div class="discoverBtn">
                            <a href="#">
                                DISCOVER NOW
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Home static end-->
    <!--Best selling products start-->
    <section id="best-selling">
        <div class="container">
            <div class="row">

                <div class="options d-flex justify-content-between align-items-center">
                    <div class="title">
                        <h3>Best Selling Products</h3>
                    </div>

                </div>

                <div class="tab-content mt-5" id="pills-tabContent">
                    <div class="tab-pane fade show active smart-phone" id="pills-home" role="tabpanel"
                         aria-labelledby="pills-home-tab">
                        <partial name="_BestProductPartial" model="Model.BestProducts" />
                    </div>




                </div>
            </div>
        </div>
    </section>
    <!--Best selling products end-->
    <!--Top headphones start-->
    <section id="top-headphones">
        <div class="container">
            <div class="row">

                <div class="options d-flex justify-content-between align-items-center">
                    <div class="title">
                        <h3>Top Headphones</h3>
                    </div>

                </div>

                <div class="tab-content mt-5" id="pills-tabContent">
                    <div class="tab-pane fade show active smart-phone" id="pills-home" role="tabpanel"
                         aria-labelledby="pills-home-tab">
                        <partial name="_TopHeadPhonePartial" model="Model.TopHeadphonesProduct" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Top headphones end-->
</main>
<!--Main end-->

@section Scripts{
    <!--Best owl carousel-->
    <script src="~/assets/js/_bestOwlCarousel.js"></script>
}