@model MemberUpdateViewModel;
<section id="password">
    <div class="container">
        <div class="row">
            <div class="password">
                <div class="title">
                    <h3><i class="fas fa-lock pe-3"></i>Password</h3>
                </div>

                <div class="content">
                    <form asp-action="profile" method="post">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 d-flex justify-content-center">
                                <div class="current">

                                    <div class="email  my-3">
                                        <label for="email" class="d-flex">E-mail: </label>
                                        <input type="email" asp-for="Email" id="email" placeholder="E-mail address">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                    <div class="new-password  my-3">
                                        <label for="newPassword" class="d-flex">
                                            New password:
                                        </label>
                                        <input type="password" asp-for="Password" id="newPassword"
                                               placeholder="New password">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>


                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12 d-flex justify-content-center">
                                <div class="current-confirm">
                                    <div class="current-password  my-3">
                                        <label for="currentPassword" class="d-flex">
                                            Current
                                            password:
                                        </label>
                                        <input type="password" asp-for="CurrentPassword" id="currentPassword"
                                               placeholder="Current password">
                                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                    </div>

                                    <div class="confirm-password  my-3">
                                        <label for="confirmPassword" class="d-flex">
                                            Confirm
                                            password:
                                        </label>
                                        <input type="password" asp-for="RepeatPassword" id="confirmPassword"
                                               placeholder="Confirm password">
                                        <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                                    </div>
                                    <button type="submit">Change</button>

                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                </div>

                            </div>


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
